html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;  
    scroll-behavior: smooth;
}

h1{
	color: orangered;
    font-family: 'Indie Flower', cursive;
}

container-fluid {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: flex-start;
    height: 100%;
}

row {
    order: 1;
}
